{% macro plot(pt) -%}
<h2>{{ pt.title.html | safe }}</h2>
<div>
    {% if pt.embeddable %}
    {{ pt.script | safe}}
    {{ pt.div | safe}}
    {% else %}
    <p>Unable to embed plot. Script or div container missing.</p>
    {% endif %}
    <p>{{ pt.description.html | safe }}</p>
</div>
{%- endmacro %}
