<!DOCTYPE html>
<html lang="en">

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<head>
    <title>My Webpage</title>
</head>

{% macro table(tb) -%}
<h1>{{ tb.title }}</h1>
<table>
    <tr>
        {% for col in tb.header %}
        <th>{{ col }}</th>
        {% endfor %}
    </tr>
    {% for row in tb.rows %}
    <tr>
        {% for col in row %}
        {% if "Hyperlink" in col.__class__.__name__ %}
        <td><a href="{{ col.url }}">{{ col.text }}</a></td>
        {% else %}
        <td>{{ col }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{%- endmacro %}

<body>
    {{ table(info_table) }}
    {{ table(stats_table) }}
    {{ table(top_vulns) }}
    {{ table(top_vulns_fix) }}

</html>
