{% extends "base.html" %}

{% block content %}

<!-- Insert Bokeh script tags -->
{% for plt in pplots -%}
{% if plt.embeddable %}
{{ plt.script | safe }}
{% endif %}
{%- endfor %}

{% for section in layout.sections %}
<div class="report-section">
    {% if section.section_type.value == "table" %}
    {{ tables.table(section) }}
    {% elif section.section_type.value == "plot" %}
    {{ plots.plot(section) }}
    {% elif section.section_type.value == "text" %}
    TODO: implement text section rendering
    {% endif %}
</div>
{% endfor %}

{% endblock %}
